doctype html
head
  link(rel='stylesheet', href='/css/main.css')
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/d3.v3.min.js')
  script(src='/socket.io/socket.io.js')

  //script(src='/js/client.js')
  script(src='/js/test.js')
  
  title sneke-client
body
  div#container
    div#header
      |sneke-client
      //input.loadall(type="submit", value="Load All")
    div#content